<!DOCTYPE>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar - novo estoque</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/default.css">
    <script src="https://kit.fontawesome.com/c25abe3fb5.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Controle de produtos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Início</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Adicionar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/add/categoria">Categoria</a>
                    <a class="dropdown-item" href="/add/produto">Produto</a>
                    <a class="dropdown-item active" href="/add/estoque">Estoque</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Listar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/listar/categorias">Categorias</a>
                    <a class="dropdown-item" href="/listar/produtos">Produtos</a>
                    <a class="dropdown-item" href="/listar/estoques">Estoques</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<h2 style="text-align: center; font-weight: bolder; margin-top: 4%;">Cadastro de Estoque:</h2>
<div class="container">
    <p th:text="${mensagem}" th:style="${style}"></p>
    <form action="/add/estoque" method="POST" th:object="${estoque}">
        <input type="hidden" th:field="*{id}">
        <select class="form-control" th:field="*{produto}">
            <option th:each="produto: ${produtos}"
                    th:value="${produto.id}" th:text="${produto.nome}">
            </option>
        </select>
        <input type="number" class="form-control" th:field="*{quantidadeComprada}" id="" placeholder="Quantidade Comprada" required>
        <input type="number" class="form-control" th:field="*{quantidadeConsumida}" id="" placeholder="Quantidade Consumida" required>
        <p style="text-align: center;">Data de validade:</p>
        <input type="date" class="form-control" th:field="*{dataValidade}" required>
        <div class="d-flex justify-content-center" >
            <button class="btn btn-primary btn-lg" type="submit"><i class="fas fa-save"></i></button>
            <button class="btn btn-danger btn-lg" type="reset"><i class="fas fa-undo-alt"></i></button>
            <button class="btn btn-dark btn-lg"><a href="/" class="text-white"><i class="fas fa-arrow-left"></i></a></button>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>