<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Controle de validade de produtos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/vendas/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-dark bg-info ">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#">
            Controle de estoque
          </a>
        </div>
      </nav>

<div class="container" role="tablist" style="margin-top:150px; ">
    <div class="card text-center">
        <div class="card-header" style="background-color:rgb(111, 203, 245);">

          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">

            <li class="nav-item">
              <a class="nav-link active"  id="categoria-tab" data-toggle="tab" role="tab" aria-current="true" href="#categoria" aria-controls="home" aria-selected="true" style="font-weight: bolder;">Categoria</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active"  id="produto-tab" data-toggle="tab" role="tab" aria-current="false" href="#produto" aria-controls="home" aria-selected="false" style="font-weight: bolder;">Categoria</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="false" href="#estoque" style="font-weight: bolder;">Estoque</a>
            </li>

          </ul>

        </div>

        <div class="card-body tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="categoria" role="tabpanel" aria-labelledby="home-tab">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Ações</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>carro</td>
                    <td>10</td>
                    <td>600.00</td>
                    <td><a href="/" style="color: rgb(241, 9, 9);" class="material-icons">
                        add_shopping_cart
                    </a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>papel</td>
                    <td>5</td>
                    <td>500.00</td>
                    <td><a href="/" style="color: rgb(241, 9, 9);" class="material-icons">
                        add_shopping_cart
                    </a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>moto</td>
                    <td>3</td>
                    <td>300.00</td>
                    <td><a href="/" style="color: rgb(241, 9, 9);" class="material-icons">
                        add_shopping_cart
                    </a></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">HELLO WORD CARAI</div>
        </div>
      </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>